table {
  width: 100%;
}

td, th {
  width: 25%;
}

.filter-panel {
  padding: 1rem 1.5rem;
  display: flex;
  height: 2.5rem;
  margin-bottom: 1rem;

  button {
    margin-left: 1.5rem;
    white-space: nowrap;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      border: 2px solid rgba(0, 0, 0, 1);
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.date-time {
  min-width: 10rem;
}

.error {
  padding: 2rem;
}

.spinner {
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgb(255, 73, 66);
}