table {
  width: 100%;
}

td, th {
  width: 25%;
}

.table-header {
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: auto 100px;
  height: 2.5rem;
  margin-bottom: 1rem;

  button {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
    cursor: pointer;
    max-height: 2.5rem;
    white-space: nowrap;

    &:hover {
      border: 2px solid rgba(0, 0, 0, 1);
    }
  }
}

.filter-panel {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;

  .mat-form-field {
    margin-right: 2rem;
  }
}

.filter-error {
  color: rgb(255, 73, 66);
  font-size: 75%; // to match material error labels in enter-reading form
  padding: 0 1.5rem;
  position: relative;
  top: -1rem;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.date-time {
  min-width: 10rem;
}

.error {
  padding: 2rem;
}

.spinner {
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgb(255, 73, 66);
}